/* .App {
  text-align: center;
} */

.col-border {
  border-left: 4px solid #0086fe;
  padding: 4px 8px;
  margin: 4px 0;
  display: block;
  color: #0000;
  text-align: left;
}

.col-border-rel {
  border-bottom: 1px solid #d5d8dc;
  padding: 2px;
}
